    $body-font-family: IRANSans;
    $font-family-base: IRANSans;
    $title-font: IRANSans;
    $font-family:IRANSans;
    .v-application {
        [class*='text-'] {
            font-family: $font-family, sans-serif !important;
        }
        [class*='body-'],
        .v-application .caption {
            font-family: $font-family, sans-serif !important;
        }
        [class*='title'] {
            font-family: $font-family, sans-serif !important;
        }
        [class*='display-'] {
            font-family: $font-family, sans-serif !important;
        }
        .caption {
            font-family: $font-family, sans-serif !important;
        }
        font-family: $font-family,
        sans-serif !important;
    }
    
    .v-btn {
        letter-spacing: 0 !important;
    }
    
    .v-card__title {
        word-break: unset !important;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    // Typography
    $font-size-base: 0.1rem;
    $line-height-base: 1.6;
    // Colors
    $blue: #3490dc;
    $indigo: #6574cd;
    $purple: #9561e2;
    $pink: #f66d9b;
    $red: #e3342f;
    $orange: #f6993f;
    $yellow: #ffed4a;
    $green: #38c172;
    $teal: #4dc0b5;
    $cyan: #6cb2eb;